*{
    margin: 0%;
}

body{
    height: auto;
    background-color: #162127;
    color: #cf9d7b;
}

header {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    height: 80px;
        background-color: #0C1519;
    width: 100%;
}

header>img{
    margin-left: 20px;
}

a{
    margin-left: 20px;
    color: #cf9d7b;
    text-decoration: none;
}

form{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #cf9d7b;
    border-radius: 20px;
    padding: 10px;
    margin: 20px;

}

form input{
    margin: 2%;
}

.successOrder{
    color: green;
}

.subOrder{
    color: coral;
    margin: 3%;
}

footer{
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #0C1519;
    width: 100%;
}

main{
    margin-top: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}